<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>DamaKubu (Įrašai apie DI)</title><link>https://damakubu.github.io/damakubu/</link><description></description><atom:link href="https://damakubu.github.io/damakubu/lt/categories/di.xml" rel="self" type="application/rss+xml"></atom:link><language>lt</language><copyright>Contents © 2023 &lt;a href="mailto:kundrotasdanielius@gmail.com"&gt;Danielius Kundrotas&lt;/a&gt; </copyright><lastBuildDate>Thu, 30 Nov 2023 15:09:36 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Genų dreifas</title><link>https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/</link><dc:creator>Danielius Kundrotas</dc:creator><description>&lt;nav class="contents alert alert-info pull-left" id="turinys" role="doc-toc"&gt;
&lt;p class="topic-title"&gt;Turinys&lt;/p&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#evoliucijos-mechanizmai" id="toc-entry-1"&gt;Evoliucijos Mechanizmai&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#genu-tranzavimas" id="toc-entry-2"&gt;Genų tranzavimas&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#partnerio-pasirinkimas" id="toc-entry-3"&gt;Partnerio pasirinkimas&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#genu-dreifas" id="toc-entry-4"&gt;Genų dreifas&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#zaidimai-ir-klaidinanti-intuicija" id="toc-entry-5"&gt;Žaidimai ir klaidinanti intuicija.&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#purya-maiseliu-modelis" id="toc-entry-6"&gt;Purya(maišelių modelis):&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#kodel-intuityvus-modelis-neteisingas" id="toc-entry-7"&gt;Kodėl intuityvus modelis neteisingas?&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#kodel-modifikuotas-modelis-yra-lygiavertus-imties-emimui" id="toc-entry-8"&gt;Kodėl modifikuotas modelis yra lygiavertus imties ėmimui&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#kuo-didesne-populiacija-tuo-genu-dreifo-reiskinys-yra-letesnis" id="toc-entry-9"&gt;Kuo didesnė populiacija, tuo genų dreifo reiškinys yra lėtesnis&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#apibendrinta-evoliucija" id="toc-entry-10"&gt;Apibendrinta Evoliucija&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#pabaigai" id="toc-entry-11"&gt;Pabaigai&lt;/a&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;p&gt;&lt;a class="reference internal" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#saltiniai" id="toc-entry-12"&gt;Šaltiniai:&lt;/a&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;/nav&gt;
&lt;aside class="sidebar"&gt;
&lt;p class="sidebar-title"&gt;TLDR:&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Genų dreifas&lt;/em&gt; - vienas iš pagrindinių evoliucijos mechanizmų. Atsiranda dėl atsitiktinumo, ryškiausiai pasireiškia mažose populiacijose, mažina genetinę įvairovę. Dėl jo populiacijoje įsitvirtina aleliai nebūtinai turintys adaptacinę naudą, gali būti net žalingi.&lt;/p&gt;
&lt;/aside&gt;
&lt;p&gt;Šiuo metu turiu bio-evoliucijos kursą jame užtikau vieną smagų konceptuką - &lt;em&gt;genų dreifas&lt;/em&gt;, ko pasekoje kardinaliai pasikeitė mano požiūris į evoliuciją.&lt;/p&gt;
&lt;section id="evoliucijos-mechanizmai"&gt;
&lt;h2&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-1" role="doc-backlink"&gt;Evoliucijos Mechanizmai&lt;/a&gt;&lt;/h2&gt;
&lt;p&gt;Darvino &lt;em&gt;naturali atranka&lt;/em&gt; yra vienintelis evoliucinis mechanizmas pastoviai keliantis organizmų adaptyvumą(fitness) &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-1" id="footnote-reference-1" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;1&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt;. Didesnę tikimybę turi išgyventi tie kurie geriau prisitaikę prie aplinkos, per daug kartų individų prisitaikymas didėja.  Ji aplikuojama, kai&lt;/p&gt;
&lt;blockquote&gt;
&lt;ol class="arabic simple"&gt;
&lt;li&gt;&lt;p&gt;variacija&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;paveldimumas&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;adaptyvumas reikšmingas&lt;/p&gt;&lt;/li&gt;
&lt;/ol&gt;
&lt;/blockquote&gt;
&lt;p&gt;Bet yra daugelis kitų mechanizmų, kodėl genai išplinta populiacijoje.&lt;/p&gt;
&lt;section id="genu-tranzavimas"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-2" role="doc-backlink"&gt;Genų tranzavimas&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;Genas A esantis fiziškai arti geno adaptyvumą keliančio geno B, tranzuoja per jį į populiaciją. Pvz.: Karvėse genas A atsakingas už daugiau pieno, o genas B už mažesnį vaisingumą. Dirbtinė žmonių atranka populiacijoje įtvirtiną A geną, bet su juo keliauja ir genas B mažinantis karvių vaisingumą &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-2" id="footnote-reference-2" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;2&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;/section&gt;
&lt;section id="partnerio-pasirinkimas"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-3" role="doc-backlink"&gt;Partnerio pasirinkimas&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;Vienos lyties sisteminis kažkokių savybių kitoje lytyje preferavimas veikia kaip atranka. Gamtoje įprastai, tai labiau daro viena lytis ir dažniausiai tai būna patelės, dėl ko dažnai patinėliai atrodo įspudingiau.
(Įdomu, jog patelių preferuojamos savybęs nebūtinai didina patinėlių prisitaikomumą prie aplinkos).&lt;/p&gt;
&lt;aside class="sidebar"&gt;
&lt;p&gt;„Kai stebiu povo uodega mane supykina.“
- 1860m. Darvinas &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-3" id="footnote-reference-3" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;3&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="nuotrauka" src="https://damakubu.github.io/damakubu/images/Peacock.jpg" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Povas bandantis suvilioti patelę.&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;/section&gt;
&lt;section id="genu-dreifas"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-4" role="doc-backlink"&gt;Genų dreifas&lt;/a&gt;&lt;/h3&gt;
&lt;aside class="sidebar"&gt;
&lt;p class="sidebar-title"&gt;Martingalis ir Markovo procesas&lt;/p&gt;
&lt;p&gt;Puria urnos pavyzdys matematiškai yra &lt;em&gt;martingalis&lt;/em&gt;, kuris apibrėžiamas taip:&lt;/p&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;p&gt;Martingalio vertė baigtinė esant baigtiniam laikui: &lt;span class="math"&gt;\(\forall n, X_n &amp;lt; \infty\)&lt;/span&gt;&lt;/p&gt;&lt;/li&gt;
&lt;li&gt;&lt;p&gt;Martingalio tikėtiniausia vertė yra paskutinė stebėta vertė: &lt;span class="math"&gt;\(\mathbb{E}[X_{n+1}|\{X_n, ..., X_{0}\}] = X_n\)&lt;/span&gt;&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Taip pat jis yra Markovo grandinė, nes neturi jokios atminties.&lt;/p&gt;
&lt;/aside&gt;
&lt;p&gt;Dėl imties paklaidos kylantis atsitiktinio geno įsitvirtinimas populiacijoje.&lt;/p&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/genudreifas.png" src="https://damakubu.github.io/damakubu/images/genudreifas.png" style="width: 800px;"&gt;
&lt;/figure&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;&lt;strong&gt;Pavyzdys&lt;/strong&gt;:&lt;/div&gt;
&lt;div class="line"&gt;paimkime maišelį su 50 baltų ir 50 juodų rutuliukų.&lt;/div&gt;
&lt;div class="line"&gt;Iš maišelio paimkime 10 rutuliukų tikėtina baltų ir juodų skaičius skirsis tarkim 3 ir 7.&lt;/div&gt;
&lt;div class="line"&gt;Tada šia imties proporcija užpildykim naują maišiuką su 30 ir 70.&lt;/div&gt;
&lt;div class="line"&gt;Vėl imkime 10 rutuliukų ir ištraukiam visus 10 juodų.&lt;/div&gt;
&lt;div class="line"&gt;Betkokia nauja imtis visada duos juodus.&lt;/div&gt;
&lt;div class="line"&gt;Tai yra rutuliukų populiacijoje įsitvirtino juodieji, nors neturi jokio adaptacinio pranašumo.&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;/section&gt;
&lt;/section&gt;
&lt;section id="zaidimai-ir-klaidinanti-intuicija"&gt;
&lt;h2&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-5" role="doc-backlink"&gt;Žaidimai ir klaidinanti intuicija.&lt;/a&gt;&lt;/h2&gt;
&lt;aside class="sidebar"&gt;
&lt;p class="sidebar-title"&gt;Aleliai&lt;/p&gt;
&lt;p&gt;Dėl chromosomų organizmai turi dvi versijas to paties geno - &lt;em&gt;alelius&lt;/em&gt;.&lt;/p&gt;
&lt;p&gt;Kurią versija naudos organizmas priklausys nuo paties alelio, jei alelis &lt;em&gt;dominuojantis&lt;/em&gt; tai jis ir pasireišks.
Pavyzdžiui ruda akių spalvą koduoja dominuojantis alelis R, todėl rudakiai tėvai Rm gali turėti mėlynakius vaikus:&lt;/p&gt;
&lt;p&gt;(Rm + Rm) -&amp;gt; (RR Rm mR mm).&lt;/p&gt;
&lt;p&gt;Mėlynakis bus tik mm, kiti vaikai (RR Rm mR) rudakiai.
Mėlynos spalvos alelis m - &lt;em&gt;recesyvus&lt;/em&gt; &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-4" id="footnote-reference-4" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;4&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt; - pasireiškia, tik tada kai nėra dominuojančio.&lt;/p&gt;
&lt;p&gt;Beje mėlynakiai tėvai negali turėti rudakio vaiko:&lt;/p&gt;
&lt;p&gt;(mm + mm) -&amp;gt; (mm mm mm mm)&lt;/p&gt;
&lt;/aside&gt;
&lt;p&gt;Įdomu, jog tikimybė, kad ilgainiui alelis įsitvirtins populiacijoje yra lygiai pradinis alelio dažnis populiacijoje. &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#moran" id="footnote-reference-5" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;6&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt; Tai yra jei 10% žmonių turi alelį A, tikimybė, jog jis įsitvirtins populiacijoje yra lygiai 10%.
Man tai neintuityvu, &lt;em&gt;kodėl&lt;/em&gt;? Tarkim imame imtį iš maišelio ir ištraukiam daugiau juodų rutuliukų. Pagal imties proporcija pripildom maišelį ir traukiam naują imtį, tikimybė jog ištrauksiu juodus rutuliukus tik padidėja. Tai yra procesas turėtų turėti kažkokį tai polinkį. Pabandysiu intuiciją patikrinti modeliuku:&lt;/p&gt;
&lt;blockquote&gt;
&lt;p&gt;Metu nesimetrinę monetą iškristi herbui tikimybė p, o iškristi monetai tikimybė 1-p, kur p lygi alelių dažniui populiacijoje. Jeigu krenta herbas pakeliu alelių skaičių populiacijoje +1, jeigu moneta sumažinu -1.&lt;/p&gt;
&lt;/blockquote&gt;
&lt;p&gt;Galima įsivaisduot, jog individas miršta, o jo vieta užpildo kito atsitiktinai išrinkto individo kopja.&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre class="code python"&gt;&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-1" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-1" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-1"&gt;&lt;/a&gt;&lt;span class="n"&gt;N&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;100&lt;/span&gt;    &lt;span class="c1"&gt;#populiacija&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-2" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-2" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-2"&gt;&lt;/a&gt;&lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;25&lt;/span&gt;     &lt;span class="c1"&gt;#pradinis alelių skaičius populiacijoje&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-3" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-3" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-3"&gt;&lt;/a&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-4" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-4" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-4"&gt;&lt;/a&gt;&lt;span class="n"&gt;random&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;uniform&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="n"&gt;MAX_LENGTH&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-5" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-5" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-5"&gt;&lt;/a&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-6" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-6" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-6"&gt;&lt;/a&gt;&lt;span class="k"&gt;for&lt;/span&gt; &lt;span class="n"&gt;w&lt;/span&gt; &lt;span class="ow"&gt;in&lt;/span&gt; &lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-7" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-7" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-7"&gt;&lt;/a&gt;    &lt;span class="k"&gt;if&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;==&lt;/span&gt; &lt;span class="n"&gt;N&lt;/span&gt; &lt;span class="ow"&gt;or&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;==&lt;/span&gt; &lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-8" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-8" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-8"&gt;&lt;/a&gt;        &lt;span class="k"&gt;break&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-9" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-9" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-9"&gt;&lt;/a&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-10" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-10" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-10"&gt;&lt;/a&gt;    &lt;span class="k"&gt;elif&lt;/span&gt; &lt;span class="n"&gt;w&lt;/span&gt; &lt;span class="o"&gt;&amp;lt;&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;/&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-11" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-11" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-11"&gt;&lt;/a&gt;        &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;+=&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;      &lt;span class="c1"&gt;#pasirenka šitą su tikimybe  b/N&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-12" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-12" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-12"&gt;&lt;/a&gt;    &lt;span class="k"&gt;else&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_0892bd3d995540cb842e5dba599fb3ef-13" name="rest_code_0892bd3d995540cb842e5dba599fb3ef-13" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_0892bd3d995540cb842e5dba599fb3ef-13"&gt;&lt;/a&gt;        &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;-=&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;      &lt;span class="c1"&gt;#pasirenka šitą su tikimybe 1 - b/N&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/manomodelis1.png" src="https://damakubu.github.io/damakubu/images/manomodelis1.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Matome, jog veikia kažkokia stuma išstumianti alelį į kraštą( suteikianti atsitiktiniam jūdėjimui eksponentės pavidalą).&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/sigmoide.png" src="https://damakubu.github.io/damakubu/images/sigmoide.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;X ašyje pradinis alelio dažnis populiacijoje b, o y ašyje tikimybė, jog jis įsitvirtinis populiacijoje.
Pradžioje alelį turi pusė populiacijos.
Gavau gražią sigmoidę, bet teiginys nepasitvirtino! Gi tikėjomės gražios tiesės!&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;section id="purya-maiseliu-modelis"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-6" role="doc-backlink"&gt;Purya(maišelių modelis):&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;Pabandykime implementuoti jau minėta maišelių pavyzdį:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre class="code python"&gt;&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-1" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-1" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-1"&gt;&lt;/a&gt;&lt;span class="c1"&gt;# maišelių algoritmas&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-2" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-2" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-2"&gt;&lt;/a&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-3" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-3" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-3"&gt;&lt;/a&gt;&lt;span class="k"&gt;for&lt;/span&gt; &lt;span class="n"&gt;_&lt;/span&gt; &lt;span class="ow"&gt;in&lt;/span&gt; &lt;span class="nb"&gt;range&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;MAX_LENGTH&lt;/span&gt;&lt;span class="p"&gt;):&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-4" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-4" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-4"&gt;&lt;/a&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-5" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-5" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-5"&gt;&lt;/a&gt;   &lt;span class="c1"&gt;# paimu 200 agentų imtį iš populiacijos masyvo&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-6" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-6" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-6"&gt;&lt;/a&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-7" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-7" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-7"&gt;&lt;/a&gt;   &lt;span class="n"&gt;imtis&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;choice&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;populiacija&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="mi"&gt;200&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-8" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-8" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-8"&gt;&lt;/a&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-9" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-9" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-9"&gt;&lt;/a&gt;   &lt;span class="c1"&gt;#  padarau visą populiacija su imties proporcija&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-10" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-10" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-10"&gt;&lt;/a&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-11" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-11" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-11"&gt;&lt;/a&gt;   &lt;span class="n"&gt;Juodi&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="nb"&gt;int&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt; &lt;span class="o"&gt;/&lt;/span&gt; &lt;span class="mi"&gt;200&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt; &lt;span class="o"&gt;*&lt;/span&gt; &lt;span class="n"&gt;imtis&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;sum&lt;/span&gt;&lt;span class="p"&gt;()&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-12" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-12" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-12"&gt;&lt;/a&gt;   &lt;span class="n"&gt;populiacija&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;concatenate&lt;/span&gt;&lt;span class="p"&gt;((&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-13" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-13" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-13"&gt;&lt;/a&gt;                 &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;ones&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;Juodi&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;dtype&lt;/span&gt;&lt;span class="o"&gt;=&lt;/span&gt;&lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;int8&lt;/span&gt;&lt;span class="p"&gt;),&lt;/span&gt;
&lt;a id="rest_code_d3657018b2ca4a8fa534f4558e73ce95-14" name="rest_code_d3657018b2ca4a8fa534f4558e73ce95-14" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_d3657018b2ca4a8fa534f4558e73ce95-14"&gt;&lt;/a&gt;              &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;zeros&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="o"&gt;-&lt;/span&gt;&lt;span class="n"&gt;Juodi&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;dtype&lt;/span&gt;&lt;span class="o"&gt;=&lt;/span&gt;&lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;int8&lt;/span&gt;&lt;span class="p"&gt;)))&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/purya.png" src="https://damakubu.github.io/damakubu/images/purya.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Pradžioje alelį turi pusė populiacijos.&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/purya2.png" src="https://damakubu.github.io/damakubu/images/purya2.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Pradžioje alelį turi 25% populiacijos.&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/purya3.png" src="https://damakubu.github.io/damakubu/images/purya3.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Na, o paleidus maišelių algoritmą su įvariais pradiniais alelių kiekiais populiacijoje ir skaičiuojant, kiek alelių įsitvirtino, o kiek išnyko, išties gauname gražią tiesę. Neveikiant kitiems evoliuciniams mechanizmas, jei pradinėje populiacijoje 10% narių turėjo garbanių geną, tai tikimybė, jog praėjus pakankamai laikui visi turės garbanių geną yra 10%.&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;/section&gt;
&lt;section id="kodel-intuityvus-modelis-neteisingas"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-7" role="doc-backlink"&gt;Kodėl intuityvus modelis neteisingas?&lt;/a&gt;&lt;/h3&gt;
&lt;blockquote&gt;
&lt;ol class="arabic"&gt;
&lt;li&gt;&lt;p&gt;&lt;strong&gt;Hipotezė&lt;/strong&gt; pagal pirmąjį modelį miršta nebetkoks individas, o &lt;strong&gt;neturintis alelio&lt;/strong&gt; tada jį pakeičia turintis arba neturintis. Tad vyksta sistemingas mažinanimas individų neturinčių alelio, tai ir būtų ta pirmame grafike stebėta nepaiškinta &lt;em&gt;stuma&lt;/em&gt; suteikianti atsitiktiniam judėjimui eksponentiškės formą.&lt;/p&gt;
&lt;blockquote&gt;
&lt;ul class="simple"&gt;
&lt;li&gt;&lt;p&gt;Bet tada pirmas grafikas turėtų būti nesimetrinis, t.y. lenktis labiau į vieną pusę. Visgi judėjimai atrodo simetriniai.&lt;/p&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/blockquote&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;/blockquote&gt;
&lt;p&gt;Visgi pabandykim pamodifikuoti pradinį modelį, kas jei įdėsime papildomą atsitiktinumą renkantis mirštantį individą:&lt;/p&gt;
&lt;div class="code"&gt;&lt;pre class="code python"&gt;&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-1" name="rest_code_38faa4d7c89741ba991f686a976b9696-1" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-1"&gt;&lt;/a&gt;&lt;span class="n"&gt;N&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="mi"&gt;42&lt;/span&gt;&lt;span class="o"&gt;**&lt;/span&gt;&lt;span class="mi"&gt;2&lt;/span&gt;    &lt;span class="c1"&gt;#populiacija&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-2" name="rest_code_38faa4d7c89741ba991f686a976b9696-2" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-2"&gt;&lt;/a&gt;&lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="o"&gt;/&lt;/span&gt;&lt;span class="mi"&gt;2&lt;/span&gt;      &lt;span class="c1"&gt;#pradinis alelių skaičius populiacijoje&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-3" name="rest_code_38faa4d7c89741ba991f686a976b9696-3" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-3"&gt;&lt;/a&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-4" name="rest_code_38faa4d7c89741ba991f686a976b9696-4" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-4"&gt;&lt;/a&gt;&lt;span class="n"&gt;random&lt;/span&gt;  &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;uniform&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="n"&gt;MAX_LENGTH&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-5" name="rest_code_38faa4d7c89741ba991f686a976b9696-5" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-5"&gt;&lt;/a&gt;&lt;span class="n"&gt;random2&lt;/span&gt; &lt;span class="o"&gt;=&lt;/span&gt; &lt;span class="n"&gt;np&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="o"&gt;.&lt;/span&gt;&lt;span class="n"&gt;uniform&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt;&lt;span class="n"&gt;MAX_LENGTH&lt;/span&gt;&lt;span class="p"&gt;)&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-6" name="rest_code_38faa4d7c89741ba991f686a976b9696-6" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-6"&gt;&lt;/a&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-7" name="rest_code_38faa4d7c89741ba991f686a976b9696-7" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-7"&gt;&lt;/a&gt;&lt;span class="k"&gt;for&lt;/span&gt; &lt;span class="n"&gt;w&lt;/span&gt; &lt;span class="ow"&gt;in&lt;/span&gt; &lt;span class="nb"&gt;zip&lt;/span&gt;&lt;span class="p"&gt;(&lt;/span&gt;&lt;span class="n"&gt;random&lt;/span&gt;&lt;span class="p"&gt;,&lt;/span&gt; &lt;span class="n"&gt;random2&lt;/span&gt;&lt;span class="p"&gt;):&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-8" name="rest_code_38faa4d7c89741ba991f686a976b9696-8" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-8"&gt;&lt;/a&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-9" name="rest_code_38faa4d7c89741ba991f686a976b9696-9" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-9"&gt;&lt;/a&gt;    &lt;span class="k"&gt;if&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;==&lt;/span&gt; &lt;span class="n"&gt;N&lt;/span&gt; &lt;span class="ow"&gt;or&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt; &lt;span class="o"&gt;==&lt;/span&gt; &lt;span class="mi"&gt;0&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-10" name="rest_code_38faa4d7c89741ba991f686a976b9696-10" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-10"&gt;&lt;/a&gt;        &lt;span class="k"&gt;break&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-11" name="rest_code_38faa4d7c89741ba991f686a976b9696-11" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-11"&gt;&lt;/a&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-12" name="rest_code_38faa4d7c89741ba991f686a976b9696-12" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-12"&gt;&lt;/a&gt;    &lt;span class="k"&gt;elif&lt;/span&gt; &lt;span class="n"&gt;w&lt;/span&gt; &lt;span class="o"&gt;&amp;lt;&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;/&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-13" name="rest_code_38faa4d7c89741ba991f686a976b9696-13" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-13"&gt;&lt;/a&gt;        &lt;span class="k"&gt;if&lt;/span&gt; &lt;span class="n"&gt;w2&lt;/span&gt;&lt;span class="o"&gt;&amp;gt;&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;/&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-14" name="rest_code_38faa4d7c89741ba991f686a976b9696-14" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-14"&gt;&lt;/a&gt;            &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;+=&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-15" name="rest_code_38faa4d7c89741ba991f686a976b9696-15" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-15"&gt;&lt;/a&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-16" name="rest_code_38faa4d7c89741ba991f686a976b9696-16" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-16"&gt;&lt;/a&gt;    &lt;span class="k"&gt;else&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-17" name="rest_code_38faa4d7c89741ba991f686a976b9696-17" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-17"&gt;&lt;/a&gt;        &lt;span class="k"&gt;if&lt;/span&gt; &lt;span class="n"&gt;w2&lt;/span&gt; &lt;span class="o"&gt;&amp;lt;&lt;/span&gt; &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;/&lt;/span&gt;&lt;span class="n"&gt;N&lt;/span&gt;&lt;span class="p"&gt;:&lt;/span&gt;
&lt;a id="rest_code_38faa4d7c89741ba991f686a976b9696-18" name="rest_code_38faa4d7c89741ba991f686a976b9696-18" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#rest_code_38faa4d7c89741ba991f686a976b9696-18"&gt;&lt;/a&gt;            &lt;span class="n"&gt;b&lt;/span&gt;&lt;span class="o"&gt;-=&lt;/span&gt;&lt;span class="mi"&gt;1&lt;/span&gt;
&lt;/pre&gt;&lt;/div&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/modifikuotas1.png" src="https://damakubu.github.io/damakubu/images/modifikuotas1.png" style="width: 800px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Rezultatas primena literatūroje pateiktą. Bet kodėl?&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;/section&gt;
&lt;section id="kodel-modifikuotas-modelis-yra-lygiavertus-imties-emimui"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-8" role="doc-backlink"&gt;Kodėl modifikuotas modelis yra lygiavertus imties ėmimui&lt;/a&gt;&lt;/h3&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/fuckthis.png" src="https://damakubu.github.io/damakubu/images/fuckthis.png" style="width: 800px;"&gt;
&lt;/figure&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;Paaiškinimas: $w, w_2$ yra atsitiktiniai skaičiukai iš to paties simetrinio skirstinio, o $P = b/N$ dažnis.&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;Metam nesimetrinę monetą ir renkamės juodą arba baltą rutuliuką, pasirinkta rutuliuką pakeičiam dar kartą mesdami nesimetrinę monetą juodu($p$) arba baltu($1-p$) rutuliuku. Nors tikimybės pasirinkti juoda ar baltą rutuliuką skiriasi, bet kadangi yra du lygūs metimai, jie vienas kitą išbalansuoja.&lt;/p&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;Padidinti populiacija vienu juodu rutuliuku:&lt;/div&gt;
&lt;div class="line"&gt;pirmiausia turime ištraukti baltą $p$, o po to ištraukti juodą $1-p$.&lt;/div&gt;
&lt;/div&gt;
&lt;div class="line-block"&gt;
&lt;div class="line"&gt;Sumažinti populiacija vienu juodu rutuliuku:&lt;/div&gt;
&lt;div class="line"&gt;pirmiausia turime ištraukti juodą $p-1$, o po to ištraukti juodą $p$.&lt;/div&gt;
&lt;/div&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;Matematiškai, kadangi $w$ lygiavertis $w_2$, tai tikimybė būti didesniem ar mažesniem už p lygiai tokia pati.&lt;/p&gt;
&lt;div class="math"&gt;
\begin{equation*}
\mathbb{P}[w_2&amp;gt;p] = \mathbb{P}[w&amp;gt;p]
\end{equation*}
&lt;/div&gt;
&lt;div class="math"&gt;
\begin{equation*}
\mathbb{P}[w_2&amp;lt;p] = \mathbb{P}[w&amp;lt;p]
\end{equation*}
&lt;/div&gt;
&lt;p&gt;Tada tikimybė padidinti populiacija vienu baltu &lt;span class="math"&gt;\(\mathbb{P}[b++]\)&lt;/span&gt; arba vienu juodu rutuliuku yra lygi:&lt;/p&gt;
&lt;div class="math"&gt;
\begin{equation*}
\mathbb{P}[b++] = \mathbb{P}[w&amp;gt;p]\mathbb{P}[w_2&amp;lt;p] = \mathbb{P}[w_2&amp;gt;p]\mathbb{P}[w&amp;lt;p] = \mathbb{P}[b--]
\end{equation*}
&lt;/div&gt;
&lt;/section&gt;
&lt;section id="kuo-didesne-populiacija-tuo-genu-dreifo-reiskinys-yra-letesnis"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-9" role="doc-backlink"&gt;Kuo didesnė populiacija, tuo genų dreifo reiškinys yra lėtesnis&lt;/a&gt;&lt;/h3&gt;
&lt;p&gt;Kviečiu pačius pabandyti patikrintį sekanti genų dreifo teiginį:
Tikėtiniausias laikas reikalingas įsitvirtinti aleliui tiesiogiai proporcingas populiacijos dydžiui: &lt;span class="math"&gt;\(\mathbb{E}[T] \propto N\)&lt;/span&gt;.&lt;/p&gt;
&lt;figure class="align-center"&gt;
&lt;img alt="/images/genudreifas2.png" src="https://damakubu.github.io/damakubu/images/genudreifas2.png" style="width: 700px;"&gt;
&lt;figcaption&gt;
&lt;p&gt;Šaltinis vikipedija: &lt;a class="reference external" href="https://en.wikipedia.org/wiki/Genetic_drift"&gt;https://en.wikipedia.org/wiki/Genetic_drift&lt;/a&gt;&lt;/p&gt;
&lt;/figcaption&gt;
&lt;/figure&gt;
&lt;/section&gt;
&lt;section id="apibendrinta-evoliucija"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-10" role="doc-backlink"&gt;Apibendrinta Evoliucija&lt;/a&gt;&lt;/h3&gt;
&lt;aside class="sidebar"&gt;
&lt;p class="sidebar-title"&gt;Genų pernešimas&lt;/p&gt;
&lt;p&gt;Dabartinis didėjantis globalumas tikėtina ateina iš lengvesnės informacijos perdavimo(lengvo keliavimo) biologiškai šis mechanizmas vadinamas "genų pernešimo"(tarp izoliuotų populiacijų, individai perneša kultūrines idėjas), kas automatiškai homogenina pasaulio kultūrą.&lt;/p&gt;
&lt;/aside&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;Taikant apibendrintą evoliuciją galima iškart naudotis genų dreifo sąvoka,
atsakant ir į nebiologinius klausimus tokius kaip - „kodėl dauguma europiečių krikščionys?“&lt;/p&gt;
&lt;blockquote&gt;
&lt;p&gt;Genų dreifo neužtenka &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#zaratrusta" id="footnote-reference-6" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;7&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt;, darant prielaida, jog žmonės gyvena apie 40 metų ir savo religijos nekeičia. Praėjo vos &lt;span class="math"&gt;\(\approx 50\)&lt;/span&gt; kartų nuo jėzaus gimimo, o agentų skaičius milijono eilės. Tad genų dreifas kaip vienintelis apibendrintos evoliucijos veiksnys nebūtų spėjęs taip stipriai suvienodinti europiečių.&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/section&gt;
&lt;/section&gt;
&lt;section id="pabaigai"&gt;
&lt;h2&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-11" role="doc-backlink"&gt;Pabaigai&lt;/a&gt;&lt;/h2&gt;
&lt;p&gt;Siūlau patiems išbandyti tyrimu pagrįstą simuliacija &lt;a class="footnote-reference brackets" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#edu" id="footnote-reference-7" role="doc-noteref"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;5&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/a&gt; &lt;a class="reference external" href="https://cartwrig.ht/apps/genie/"&gt;https://cartwrig.ht/apps/genie/&lt;/a&gt; kuri padės perprasti genų driftą.&lt;/p&gt;
&lt;p&gt;Simuliacijos ir chaoso kodas, bei BUS užrašai: &lt;a class="reference external" href="https://github.com/DamaKubu/bioevoliucija/"&gt;https://github.com/DamaKubu/bioevoliucija/&lt;/a&gt;&lt;/p&gt;
&lt;section id="saltiniai"&gt;
&lt;h3&gt;&lt;a class="toc-backref" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#toc-entry-12" role="doc-backlink"&gt;Šaltiniai:&lt;/a&gt;&lt;/h3&gt;
&lt;aside class="footnote-list brackets"&gt;
&lt;aside class="footnote brackets" id="footnote-1" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-1"&gt;1&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;&lt;a class="reference external" href="https://www.nature.com/scitable/knowledge/library/natural-selection-genetic-drift-and-gene-flow-15186648/?ref=scienceandpandas.com"&gt;https://www.nature.com/scitable/knowledge/library/natural-selection-genetic-drift-and-gene-flow-15186648/?ref=scienceandpandas.com&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;Anglų kalba trumpas skaitinėlis ta pačia tema, šiek tiek iš kitos pusės ir detaliau.&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="footnote-2" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-2"&gt;2&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;Iš bio-evoliucijos BUS'o paskaitos.&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="footnote-3" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-3"&gt;3&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;&lt;a class="reference external" href="https://www.phaidon.com/agenda/photography/articles/2016/november/16/why-darwin-was-confused-by-birds/"&gt;https://www.phaidon.com/agenda/photography/articles/2016/november/16/why-darwin-was-confused-by-birds/&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="footnote-4" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-4"&gt;4&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;&lt;a class="reference external" href="https://knowyourdna.com/are-blue-eyes-recessive/"&gt;https://knowyourdna.com/are-blue-eyes-recessive/&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="edu" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-7"&gt;5&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;Genie: an interactive real-time simulation for teaching genetic drift
&lt;a class="reference external" href="https://evolution-outreach.biomedcentral.com/articles/10.1186/s12052-022-00161-7"&gt;https://evolution-outreach.biomedcentral.com/articles/10.1186/s12052-022-00161-7&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="moran" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-5"&gt;6&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;&lt;a class="reference external" href="https://services.math.duke.edu/~rtd/cmodels/Moran.pdf"&gt;https://services.math.duke.edu/~rtd/cmodels/Moran.pdf&lt;/a&gt;&lt;/p&gt;
&lt;/aside&gt;
&lt;aside class="footnote brackets" id="zaratrusta" role="doc-footnote"&gt;
&lt;span class="label"&gt;&lt;span class="fn-bracket"&gt;[&lt;/span&gt;&lt;a role="doc-backlink" href="https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/#footnote-reference-6"&gt;7&lt;/a&gt;&lt;span class="fn-bracket"&gt;]&lt;/span&gt;&lt;/span&gt;
&lt;p&gt;Draugas Zaratrusta į šitą atkreipė dėmesį, dėkui.&lt;/p&gt;
&lt;/aside&gt;
&lt;/aside&gt;
&lt;/section&gt;
&lt;/section&gt;</description><category>DI</category><category>Evoliucija</category><guid>https://damakubu.github.io/damakubu/lt/posts/gen%C5%B3%20dreifas/</guid><pubDate>Sat, 25 Nov 2023 20:04:07 GMT</pubDate></item></channel></rss>